*{
    margin: 0px;
    padding: 0px;
}
.bg-container{
    height: 100vh;
    width: 100vw;
    
    padding: 5px;  

}
.main{
    height: 67%;
    width: 100%;
    margin-top: 12px;
    display: flex;  
}
.container1{
    height: 100%;
    width: 25%;
    background-color: burlywood;
    margin-right: 11px;

}
.container2{
    height: 100%;
    width: 74%;
    background-color: rgb(207, 129, 178);   
    
}
.container3{
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}
.box{
    height: 100%;
    width: 30%;
    background-color: rgb(218, 144, 17);
    margin-right: 10px;
}
/* .box2{
    height: 100%;
    width: 30%;
    background-color: moccasin;
    margin-right: 10px;
}
.box3{
    height: 100%;
    width: 30%;
    background-color: moccasin;
} */

.container4{
    height: 15%;
    width: 100%;
    margin-top: 10px;
    background-color:skyblue;

}
.head{
    color: rgb(255, 253, 251);
    font-size: 40px;
    text-align: center;

}
.foot{
    color: rgb(255, 253, 251);
    font-size: 40px;
    text-align: center;
}
header{
    height: 15%;
    width: 100%;
    background-color: skyblue;
  
}
